In [1]:
from awattar_services import AwattarServices

# Create an instance of the class
awattar_services = AwattarServices()

In [11]:
import datetime
import timedelta

current_datetime = datetime.datetime.now() - timedelta(hours=24)
unix_timestamp = current_datetime.timestamp()
start_of_day, end_of_day = AwattarServices.get_start_and_end_of_day(unix_timestamp)
int(start_of_day.timestamp()*1000)
int(end_of_day.timestamp()*1000)

TypeError: 'module' object is not callable

In [9]:
datetime.datetime.now()

datetime.datetime(2023, 10, 1, 11, 43, 43, 329376)

In [1]:
import datetime
import timedelta

current_datetime = datetime.datetime.now() - timedelta(hours=24)
unix_timestamp = current_datetime.timestamp()
start_of_day, end_of_day = AwattarServices.get_start_and_end_of_day(unix_timestamp)
int(start_of_day.timestamp()*1000)
int(end_of_day.timestamp()*1000)

TypeError: 'module' object is not callable

In [2]:
awattar_services.AWATTAR_ONE_DAY_PERIOD('1693526400000', '1696118399000')

        start_timestamp       end_timestamp  marketprice     unit
0   2023-09-01 00:00:00 2023-09-01 01:00:00        93.29  Eur/MWh
1   2023-09-01 01:00:00 2023-09-01 02:00:00        92.09  Eur/MWh
2   2023-09-01 02:00:00 2023-09-01 03:00:00        91.80  Eur/MWh
3   2023-09-01 03:00:00 2023-09-01 04:00:00        95.98  Eur/MWh
4   2023-09-01 04:00:00 2023-09-01 05:00:00       111.93  Eur/MWh
..                  ...                 ...          ...      ...
714 2023-09-30 18:00:00 2023-09-30 19:00:00       133.18  Eur/MWh
715 2023-09-30 19:00:00 2023-09-30 20:00:00       111.90  Eur/MWh
716 2023-09-30 20:00:00 2023-09-30 21:00:00       107.40  Eur/MWh
717 2023-09-30 21:00:00 2023-09-30 22:00:00       101.04  Eur/MWh
718 2023-09-30 22:00:00 2023-09-30 23:00:00       102.73  Eur/MWh

[719 rows x 4 columns]

In [6]:
import json
import datetime
import timedelta
# Get today and yesterday's date
today = datetime.datetime.now().replace(hour=0, minute=0, second=0, microsecond=0)
yesterday = today - timedelta(days=1)

# Convert to a UNIX timestamp (in seconds)
timestamp_start_yesterday = int(yesterday.timestamp())
timestamp_start_today = int(today.timestamp())

# If you need the timestamps in milliseconds, multiply by 1000
timestamp_start_yesterday_ms = timestamp_start_yesterday * 1000
timestamp_start_today_ms = timestamp_start_today * 1000

print(f"Timestamp for 00:00:00 yesterday: {timestamp_start_yesterday} seconds / {timestamp_start_yesterday_ms} milliseconds")
print(f"Timestamp for 24:00:00 yesterday (00:00:00 today): {timestamp_start_today} seconds / {timestamp_start_today_ms} milliseconds")

TypeError: 'module' object is not callable

In [15]:
awattar_services.AWATTAR_ONE_DAY_PERIOD(timestamp_start_yesterday_ms, timestamp_start_today_ms)

TypeError: AWATTAR_ONE_DAY_PERIOD() missing 1 required positional argument: 'file_path'

In [7]:
timestamp_start_yesterday_ms

1695942000000