In [13]:

import requests
import json
import pandas as pd
from urllib.parse import quote
import datetime


auth_url = 'https://smartmeter.netz-noe.at/orchestration/Authentication/Login'
auth_payload = {"user": "SommererPrivatstiftung", "pwd": "SpS*1996"}

auth_response = requests.post(auth_url, json=auth_payload)
auth_cookie = auth_response.cookies['__Host-go4DavidSecurityToken']
auth_xsrf_token = auth_response.cookies['XSRF-Token']
### TODO: update date from mobile 

# data_url = f"https://smartmeter.netz-noe.at/orchestration/ConsumptionRecord/Day?meterId=AT0020000000000000000000020826368&day=2023-8-24&__Host-go4DavidSecurityToken={auth_cookie}"

# data_url = f"https://smartmeter.netz-noe.at/orchestration/ConsumptionRecord/BalanceWeek?pointOfConsumption=40565578&startDate=2023-8-22&endDate=2023-8-24"
data_url = f"https://smartmeter.netz-noe.at/orchestration/ConsumptionRecord/Week?meterId=AT0020000000000000000000020826367&startDate=2023-8-21&endDate=2023-8-28"
headers = {
    'Cookie': f'__Host-go4DavidSecurityToken={auth_cookie}; XSRF-Token={auth_xsrf_token}',
}

data_response = requests.get(data_url, headers=headers).json()

In [16]:
data_response = pd.DataFrame(data_response)[['meteredValues', 'peakDemandTimes']]
data_response['meteredValues'].sum()

   meteredValues      peakDemandTimes
0          5.477  2023-08-21T22:45:00
1          4.721  2023-08-22T08:00:00
2          4.209  2023-08-23T23:15:00
3          4.582  2023-08-24T20:00:00
4          7.332  2023-08-25T09:15:00
5            NaN                 None
6            NaN                 None

26.321